.content {
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 300px) {
    .content-rating {
        margin-left: 10px;
    }
}

@media screen and (max-width: 549px) {
    .content-rating {
        margin-left: 10px;
    }
    .nav {
        z-index: 10;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
        text-align: left;
    }
    .nav-menu ul {
        display: flex;
        flex-direction: column;
    }
    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav-link {
        display: block;
        width: 100%;
        text-align: left;
    }
    .wrapper {
        display: block;
    }
}

@media screen and (min-width: 550px) {
    .content-rating {
        margin-left: 10px;
    }
    .off-canvas {
        display: none;
    }
    .content-rating {
        font-size: 22px;
    }
    .content-description {
        font-size: 16px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 25px;
    }
    .btn:link,
    .btn:visited,
    input[type=submit] {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    #drawer {
        position: relative;
        transform: translate(0, 0);
    }
}

@media screen and (min-width: 650px) {
    .content-rating {
        margin-left: -10px;
    }
    .content-description {
        font-size: 17px;
    }
}

@media screen and (min-width: 700px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
    h1 {
        font-size: 39px;
    }
    h2 {
        font-size: 33px;
    }
    h3 {
        font-size: 27px;
    }
    .content-rating {
        font-size: 17px;
    }
    .content-description {
        font-size: 15px;
    }
}

@media screen and (min-width: 800px) {
    .content-rating {
        font-size: 19px;
    }
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 32px;
    }
    .content-rating {
        font-size: 16px;
    }
    .content-description {
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    .content-rating {
        font-size: 18px;
    }
    .content-description {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .content-rating {
        font-size: 20px;
    }
    .content-description {
        font-size: 16.5px;
    }
}

